body {
    background-color: black;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Garante que o corpo ocupe pelo menos 100% da altura da tela */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza o formulário verticalmente */
}


.container {
    width: 100%;
    max-width: 400px; /* Máximo de 400px para telas maiores */
    padding: 0 20px; /* Espaçamento lateral */
    box-sizing: border-box;
}


.logo {
    text-align: center; /* Centraliza a logo */
    margin-bottom: 20px;
}


.logo img {
    max-width: 100%;
    height: auto;
    max-width: 350px; /* Ajuste máximo para a logo */
}


.form-container {
    background: #fff;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%; /* Garante que o formulário ocupe toda a largura disponível */
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
    margin-top: 10%; /* Adiciona espaço no topo para evitar cortes */
}


.form {
    display: flex;
    flex-direction: column;
}


.form h2 {
    text-align: center;
    margin-bottom: 20px;
}


.form-group {
    margin-bottom: 15px;
}


.form-group label {
    display: block;
    margin-bottom: 5px;
}


.form-group input {
    width: 100%; /* Ajuste para que os inputs ocupem toda a largura do contêiner */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
}


button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}


button:hover {
    background-color: #0056b3;
}


p {
    text-align: center;
    margin-top: 15px;
}


p a {
    color: #007bff;
    text-decoration: none;
}


p a:hover {
    text-decoration: underline;
}


/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .form-container {
        padding: 20px;
        margin-top: 15%; /* Aumenta a margem superior em telas menores */
    }
   
    .logo img {
        max-width: 250px; /* Ajuste máximo para telas menores */
    }
}


@media (max-width: 480px) {
    .form-container {
        padding: 15px;
        margin-top: 20%; /* Aumenta ainda mais a margem superior para telas pequenas */
    }
   
    .logo img {
        max-width: 200px; /* Ajuste máximo para telas muito pequenas */
    }
   
    button {
        font-size: 14px; /* Ajuste do tamanho da fonte em telas pequenas */
    }
}



